@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Nanum+Pen+Script&display=swap');

body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0px;
}


@media(min-width:650px){
  .App{
    width: 640px;
  }
}
@media(max-width:650px){
  .App{
    width: 90vw;
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.App{
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.Letter{
  background-image: url(./background2.png);
  width: 630px;
  height: 750px;
  background-size: 100% 100%;
  /* padding-left: 100px; */
  margin: 30px auto 30px auto
}


.LetterText{
  width: 430px;
  height: 500px;
  margin: 150px 100px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 25px;
  color: #333;
}
.LetterText:focus{
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px gainsboro;
}

/* MyButton */
.MyButton{
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}

/* HEADER */
header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text{
  width :50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left{
  width: 25%;
}

header .head_btn_right{
  width: 25%;
  justify-content: end;
}
header button{
  font-family: "Nanum Pen Script";
}

.Home{
  text-align: center;
  font-size: 60px;
}

.Home div{
  font-size: 40px;
  margin: 80px;
}

.button{
  background-color: transparent;
  border: 2px solid gainsboro;
  border-radius: 10px;

  cursor: pointer;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 20px;
  font-size: 18px;
  
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}

/* Certification */
.Certification{
  text-align: center;
  margin: 160px;
}

.Certification_button{
  margin: 15px;
  display: flex;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.Certification_button button{
  width: 90px;
  margin-left: 8px;
}

.Certification_button input{
  width: 180px;
}

/* CheeringMessage */
.CheeringMessage{
  border-bottom: 1px solid gray;
  /* text-align: center; */
  padding:20px;
  font-size: 20px;
}
.CheeringMessage input, textarea{
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
  margin: 0px auto;
  font-family: "Nanum Pen Script";
  font-size: 20px;
}
.CheeringMessage textarea{
  height: 60px;
  margin: 20px 0px;
}
.CheeringMessage input{
  margin-top: 20px;
}
.CheeringMessage button{
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}
.CheeringMessageContent{
  display: flex;
  align-items : center;
}
.CheeringMessageAuthor{
  display: flex;
  align-items : center;
}

.CheeringMessageDiv{
/* background-color: green; */
display : flex;
justify-content : center;
flex-direction : column;
align-items: center;
}