@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Nanum+Pen+Script&display=swap');

body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0px;
}


@media(min-width:650px){
  .App{
    width: 640px;
  }
}
@media(max-width:650px){
  .App{
    width: 90vw;
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.App{
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* LetterEditor */
.Letter{
  background-image: url(./background2.png);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin: 30px auto 30px auto
}

.LetterText{
  width: 430px;
  height: 500px;
  margin: 150px 80px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 25px;
  color: #333;
}
.LetterText:focus{
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px gainsboro;
}

.LetterEditorStorage{
  font-size: 20px;
  /* background-color: green; */
}

/* MyButton */
.MyButton{
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  background-color: #FFF0F0;
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}

/* HEADER */
header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text{
  width :50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left{
  width: 25%;

}

header .head_btn_right{
  width: 25%;
  justify-content: end;
}
header button{
  font-family: "Nanum Pen Script";
}

.Home{
  text-align: center;
  font-size: 60px;
}

.Home div{
  font-size: 40px;
  margin: 80px;
}

.button{
  background-color: transparent;
  border: 2px solid gainsboro;
  border-radius: 10px;

  cursor: pointer;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 20px;
  font-size: 18px;
  
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}

/* Certification */
.Certification{
  /* text-align: center; */
  margin: 160px;
}

.Certification_button{
  margin: 15px;
  display: flex;

}

.Certification_button button{
  width: 90px;
  margin-left: 8px;
  border : 1px solid gray;

}

.Certification_button input{
  border : 1px solid gray;

}

.visible {
  display: block;
}
.hidden {
  display: none;
}

/* CheeringMessage */
.CheeringMessage{
  border-bottom: 1px solid gray;
  /* text-align: center; */
  padding:20px;
  font-size: 20px;
}

.CheeringMessageDiv{
  padding : 50px 50px 20px 50px;
}

.CheeringMessageDiv input, textarea {
  width : 100%;
  padding:15px;
  border : 1px solid gray;
  border-radius: 5px;
  resize: none;
}


.CheeringMessageAuthor,
.CheeringMessageContent {
  display: flex;
  align-items: center;
}

.CheeringMessageAuthor {
  margin-bottom: 30px;
}

label {
  flex-shrink: 0;
  display: block;
  width: 50px;
  text-align: center;
  margin-right : 10px;
}


.CheeringMessage button{
  display: block;
  margin : 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #FFF0F0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  
  white-space: nowrap;

  font-family: "Nanum Pen Script";
}


